
/* Navbar */
.navbar-inverse{
    background-color: #2C3E50;
}

/* Navbar */
.navbar{
    min-height: 100px;
}

.navbar-brand{
    line-height: 70px;
}

.navbar-nav>li>a{
    line-height: 70px;
}

 /* Small devices (tablets, 768px and up) */
    @media (max-width: 768px) {

    .navbar-nav>li>a{
        line-height: 20px;
    }
    }



.navbar-toggle{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Full width welcome */

.full-width-welcome{
    margin-top: 50px;
    background-color: #18BC9C;
}
