@model IEnumerable<WebApplicationHM.Models.Post>
@{
    ViewBag.Title = "Family";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Family</h2>

<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Opslag</h2>
                <hr class="star-light">
            </div>
        </div>
        <!-- looping through the posts -->
        @foreach (var posts in Model) { 
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>@Html.DisplayFor(modelItem => posts.Title)</h2>
                <p>@Html.DisplayFor(modelItem => posts.Description)</p>
            </div>
        </div>
        }
    </div>
</section>

